/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

h3 {
  margin: 5px 0 5px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img.rounded {
  border-radius: 5px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding: 1rem;
}

  .card:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .card.short{
      width: 400px;
  }

.icon-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  display: block;
}

.details {
  flex: 1;
}

.centered-content {
  display: flex;
  justify-content: center;
}

  .centered-content .repository-and-source-information {
    width: 500px;
  }

.home {
  margin: 0 auto;
  width: 800px;
}

.page {
  margin: 0 auto;
  width: 1000px;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

.demo-person-link:visited {
  color: inherit;
}

.repository-and-source-information .field {
  margin-bottom: 10px;
}
