/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

h3 {
  margin: 5px 0 5px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img.rounded {
  border-radius: 5px;
}
