.profile-header {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.portrait img {
  height: 120px;
}

.profile-info {
  display: flex;
  padding: 15px;
  justify-content: center;
}


.vital-information {
  float: left;
  margin-left: 15px;
}

  .vital-information h1 {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
  }
