<div class="profile-header">
  <div class="portrait">
    <img class="rounded" src="../images/{{portraitUrl}}" alt="The individual's portrait" />
  </div>
  <div class="vital-information">
    <h1>
      {{individual.given}} {{individual.surname}}
    </h1>
    <div>
      <strong>BIRTH</strong> {{individual.birth.date.dayMonthYear}} • {{individual.birth.place.name}}
    </div>
    <div>
      <strong>DEATH</strong> {{individual.death.date.dayMonthYear}} • {{individual.death.place.name}}
    </div>
    <div class="ancestry-link">
      <a href="{{individual.ancestryLink}}" target="_blank">
        <img class="ancestry-logo" src="../images/ancestry-logo.jpg" />
      </a>
    </div>
  </div>
</div>
