<div class="repository-source-information">
  <div class="content">
    <h2>Repository information</h2>
    <div class="field" *ngIf="!source.isEmpty">
      <div></div>
      <div>Return to <a [routerLink]="['/source-information', source.xref]" [queryParams]=" { individualXref: individualXref }">{{source.descriptiveTitle}}</a></div>
    </div>
    <div class="field">
      <div><strong>Name</strong></div>
      <div>{{repository.name}}</div>
    </div>
    <div class="field">
      <div><strong>Note</strong></div>
      <div>{{repository.notes}}</div>
    </div>
    <div class="field">
      <div><strong>Email</strong></div>
      <div>{{repository.emails}}</div>
    </div>
    <div class="field">
      <div><strong>Phone number</strong></div>
      <div>{{repository.phoneNumbers}}</div>
    </div>
  </div>
</div>
