/* Page rows */
.page {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

.row {
  padding: 1rem;
}

header.row {
  font-size: 24px;
}

.row-2 {
  background: #555;
  color: #fff;
}

.row-3 {
  background: #ccc;
}

/* Three-column layout */
.columns {
  display: flex;
  width: 100%;
}

.column {
  padding: 1rem;
}

.family-tree-icon a {
    color: inherit;
  text-decoration: none;
}

.family-tree-icon h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between image and text */
}

.family-tree-icon img {
  width: 100px;
  height: auto;
}
